.header_bottom_container {
    /* border: 1px solid green; */
    color: white;
    background-color: rgba(0, 137, 123, 1);
    display: flex;
    height: 150px;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -30%;
}

.header_bottom_content {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    /* border: 1px solid tomato; */
    text-align: center;
}

.border {
    border-right: 1px solid white;
    padding-right: 70px;
    margin: 0 auto;
}

.bottom_header {
    margin-bottom: 0;
}
.bottom_para {
    margin-top: 0;
    font-size: small;
}
