.main_features_container {
    width: 80%;
    /* border: 1px solid red; */
    margin: 0 auto;
}

.top_part {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    width: 30%;
    /* border: 1px solid tomato; */
}

.info ul li {
    font-size: small;
}
